@{
    ViewData["Title"] = "Vsa tekmovanja";
}
<!DOCTYPE html>
<html>
<head>
    <title>Test Tekmovanja API</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Test Tekmovanja API</h1>
    <button id="fetchDataBtn">Fetch Tekmovanja</button>

    <div id="resultContainer"></div>

    <script>
        $(document).ready(function () {
            $("#fetchDataBtn").click(function () {

                $.ajax({
                    url: "/Tekmovanja/all",
                    type: "GET",
                    success: function (data) {

                        $("#resultContainer").html(JSON.stringify(data));
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching data:", error);
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>
</body>
</html>
